.post-photo{
    width: 100%;
    margin-bottom: 15px;
}

.photo-small {
    width: 200px;
    margin-bottom: 15px;
}

.inline-block{
    display: inline-block;
}

.published-at{
    color: #ccc;
    font-size: 13px;
}

.help-block{
    color: #ff0000;
}